.container {
  display: flex;
  align-content: center;
  gap: 24px;
}
.label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.selected {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 6px solid rgb(69, 165, 246);
  background-color: #fff;
}
.unselected {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(208, 212, 220);
}
